<!DOCTYPE html>
<html lang="en">
<head>

    <title>Workout Page</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/css/tooplate-gymso-style.css">
</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

<!-- MENU BAR -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">

        <a class="navbar-brand" href="index">Atlas</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a href="index_accessed_accessed" class="nav-link smoothScroll">Home</a>
                </li>

                <li class="nav-item">
                    <a href="about_accessed" class="nav-link smoothScroll">About Us</a>
                </li>

                <li class="nav-item">
                    <a href="workpage_accessed" class="nav-link smoothScroll">Workout</a>
                </li>

                <li class="nav-item">
                    <a href="index" class="nav-link smoothScroll">Sign Out</a>
                </li>

            </ul>

            <!-- <ul class="social-icon ml-lg-3">
                <li><a href="https://fb.com/tooplate" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
            </ul> -->
        </div>

    </div>
</nav>

<section class="class section" id="class">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center mb-5">
                <h6 data-aos="fade-up">Get A Perfect Body</h6>

                <h2 data-aos="fade-up" data-aos-delay="200">Our Training Classes</h2>
            </div>

            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
                <a href="cardio_accessed">
                    <div class="class-thumb">
                        <img src="static/images/class/gabin-vallet-JVnLqWGWVzs-unsplash.jpg" class="img-fluid" alt="Class">

                        <div class="class-info">
                            <h3 class="mb-1">Cardio</h3>

                            <span><strong>Trained by</strong> - Individually</span>

                            <!-- <span class="class-price">$50</span> -->

                            <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                        </div>
                    </div></a>
            </div>

            <div class="mt-5 mt-lg-0 mt-md-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
                <a href="massgain_accessed">
                    <div class="class-thumb">
                        <img src="static/images/class/danielle-cerullo-CQfNt66ttZM-unsplash.jpg" class="img-fluid" alt="Class">

                        <div class="class-info">
                            <h3 class="mb-1">Mass gain</h3>

                            <span><strong>Trained by</strong> - Individually</span>

                            <!-- <span class="class-price">$66</span> -->

                            <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                        </div>
                    </div></a>
            </div>

            <div class="mt-5 mt-lg-0 col-lg-4 col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
                <a href="weightloss_accessed">
                    <div class="class-thumb">
                        <img src="static/images/class/cardio-class.jpg" class="img-fluid" alt="Class">

                        <div class="class-info">
                            <h3 class="mb-1">Weight-Loss</h3>

                            <span><strong>Trained by</strong> - Individually</span>

                            <!-- <span class="class-price">$75</span> -->

                            <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                        </div>
                    </div></a>
            </div>

        </div>
    </div>
</section>


<!-- SCHEDULE -->
<section class="schedule section" id="schedule">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12 text-center">
                <h6 data-aos="fade-up">our weekly GYM schedules</h6>

                <h2 class="text-white" data-aos="fade-up" data-aos-delay="200">Workout Timetable</h2>
            </div>

            <div class="col-lg-12 py-5 col-md-12 col-12">
                <table class="table table-bordered table-responsive schedule-table" data-aos="fade-up" data-aos-delay="300">

                    <thead class="thead-light">
                    <th><i class="fa fa-calendar"></i></th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    </thead>

                    <tbody>
                    <tr>
                        <td><small>7:00 am</small></td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                    </tr>

                    <tr>
                        <td><small>9:00 am</small></td>
                        <td></td>
                        <td></td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                        <td></td>
                        <td>
                            <strong>Cardio</strong>
                            <span>8:00 am - 9:00 am</span>
                        </td>
                    </tr>

                    <tr>
                        <td><small>11:00 am</small></td>
                        <td></td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                        <td></td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                    </tr>

                    <tr>
                        <td><small>2:00 pm</small></td>
                        <td>
                            <strong>Boxing</strong>
                            <span>2:00 pm - 4:00 pm</span>
                        </td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                        <td></td>
                        <td>
                            <strong>Cardio</strong>
                            <span>6:00 pm - 9:00 pm</span>
                        </td>
                        <td></td>
                        <td>
                            <strong>Add a program</strong>
                            <span>choose a time</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</section>

<section >
    <div class ="container">
        <div class="input-group mb-3">
            <button type="button" class="btn btn-outline-secondary">Submit</button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Choose time</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">7.00 - 8.30</a></li>
                <li><a class="dropdown-item" href="#">9.00 - 10.30</a></li>
                <li><a class="dropdown-item" href="#">11.00 - 12.30</a></li>
                <li><a class="dropdown-item" href="#">14.00 - 15.30</a></li>
                <li><hr class="dropdown-divider"></li>
            </ul>
            <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="What are you going to do?">
        </div>
    </div>
</section>
<!-- SCRIPTS -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/aos.js"></script>
<script src="static/js/smoothscroll.js"></script>
<script src="static/js/custom.js"></script>

</body>
</html>

